* {
  box-sizing: border-box;
}
.test-border {
  border: 5px solid black;
}

.red-border {
  border: 2px solid red;
}

.bottom-border {
  border-bottom: 2px solid black;
}

.uv-low {
  background-color: #558b2f;
}

.uv-mod {
  background-color: #f9a825;
}

.uv-high {
  background-color: #ef6c00;
}

.uv-vhigh {
  background-color: #b71c1c;
}

.uv-extr {
  background-color: #6a1b9a;
}